/*Add your CSS rules*/

/*Some selectors you may need include are
a.skip, header, .nav_links, .container,
.intro, html, .text-block, etc.*/

/* 4 */
a.skip {
  position: absolute;
  top: -40px;
}

a.skip:focus {
  top: 0px;
}

/* 5 */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 6 */
.nav_links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* 7 */
.nav_links a:hover,
.nav_links a:focus {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  color: #50c7c7;
}

/* 8 */
nav li {
  padding-bottom: 5px;
}

/* 9 */
#logo {
  animation: start 1s 1;
}

@keyframes start {
  from {
    width: 0px;
  }
  to {
    width: 50px;
  }
}

/* 10 */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 15px;
}

/* 11 */
.intro {
  background-image: url("../images/header.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  grid-column: 1 / -1;
}

/* 12 */
.intro p {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* 13 */
.about-image,
.method-image,
.clients-image,
.contact-image {
  grid-column: 1 / -1;
  max-height: 700px;
  overflow: hidden;
}

/* 14 */
.about,
.method,
.clients,
.contact {
  grid-column: 2 / -2;
}

/* 15 */
.about,
.about-image {
  grid-row: 2 / span 1;
}

.method,
.method-image {
  grid-row: 3 / span 1;
}

.clients,
.clients-image {
  grid-row: 4 / span 1;
}

.contact,
.contact-image {
  grid-row: 5 / span 1;
}

/* 16 */
.text-block {
  justify-self: center;
  align-self: center;
}

/* 17 */
/* TODO: */

@media all and (min-width: 750px) {
  /* 18 */
  .nav_links {
    flex-direction: row;
  }

  /* 19 */
  .nav_links a {
    padding: 10px;
  }

  /* 20 */
  .container {
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 400px 400px 400px 400px;
  }

  /* 21 */
  .about,
  .clients,
  .method-image,
  .contact-image {
    grid-column: 3 / 5;
  }

  /* 22 */
  .about-image,
  .clients-image,
  .method,
  .contact {
    grid-column: 2 / 4;
  }
}

@media all and (min-width: 1125px) {
  /* 23 */
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* 24 */
  @keyframes start {
    0% {
      width: 50px;
    }
    50% {
      width: 150px;
      left: 450px;
    }
    100% {
      width: 50px;
    }
  }

  /* 25 */
  .container {
    grid-template-columns: 15px 75px 1fr 25px 1fr 75px 15px;
    grid-template-rows: 400px 400px 400px;
  }

  /* 26 */
  .about-image,
  .clients-image {
    grid-column: 2 / 7;
  }
  .method-image,
  .contact-image {
    display: none;
  }

  /* 27, 28 */
  .about {
    grid-column: 3 / 4;
  }

  .method {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
  }

  .clients {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  .clients-image {
    grid-row: 3 / 4;
  }

  .contact {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
  }
}
